<!doctype html>
<html lang="es">

<head>
        <title>Plantilla</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="Scripts/estilo.css" rel="stylesheet" type="text/css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
                .sizecontacticon {
                        font-size: 50px;
                        border: solid #f2f2f2;

                }
        </style>
</head>

<body>
        <div class="container-fluid">
                <div class="container-fluid">
                        <div class="row">
                                <div class="col-12">
                                        <div class="container-fluid">
                                                <nav class="navbar navbar-expand-lg navbar-light bg-light"
                                                        style="border-bottom: 2px solid #2E92F0;">
                                                        <a class="navbar-brand">
                                                                <a title="Logo" href="index.html"><img
                                                                                src="img/logo.PNG" alt="Logo"
                                                                                height="70px" width="90px" /></a>
                                                        </a>
                                                        <button class="navbar-toggler" data-target="#menu"
                                                                data-toggle="collapse" type="button">
                                                                <span class="navbar-toggler-icon"></span>
                                                        </button>
                                                        <div class="collapse navbar-collapse" id="menu">
                                                                <ul class="navbar-nav mr-auto">

                                                                </ul>
                                                                <div style="padding-right: 500px;">
                                                                        <form class="form-inline">
                                                                                <input class="form-control mr-sm-2"
                                                                                        style="width: 250px; border-color: #2E92F0;">
                                                                                <button style="width: 100px;"
                                                                                        type="button"
                                                                                        class="btn btn-outline-info">
                                                                                        <i class="fa fa-search"></i>
                                                                                </button>
                                                                        </form>
                                                                </div>
                                                                <div>
                                                                        <button type="button"
                                                                                class="btn btn-outline-info">
                                                                                <a href="#"><i
                                                                                                class="fa fa-user"></i>Cuenta</a>

                                                                        </button>
                                                                        <button type="button"
                                                                                class="btn btn-outline-info">
                                                                                <a href="carro_de_compras.html"><i
                                                                                                class="fa fa-shopping-cart"></i>Carro</a>

                                                                        </button>

                                                                </div>
                                                </nav>
                                        </div>
                                </div>
                        </div>

                </div>

                <div class="row">
                        <div class="col-12">
                                <div class="container-fluid">
                                        <nav class="navbar navbar-expand-lg navbar-light bg-light">


                                                <div>
                                                        <ul class="navbar-nav mr-auto">
                                                                <li class="nav-item dropdown active">
                                                                        <a class="nav-link dropdown-toggle"
                                                                                data-toggle="dropdown"
                                                                                data-target="desplegable"
                                                                                href="#">Categorias</a>
                                                                                <div class="dropdown-menu" style="border: solid #2E92F0;">
                                                                                        <a class="dropdown-item" href="categoria(motherboard).html">Motherboard</a>
                                                                                        <a class="dropdown-item" href="categoria(procesadores).html">Procesadores</a>
                                                                                        <a class="dropdown-item" href="categoria(ram).html">Ram</a>
                                                                                        <a class="dropdown-item" href="categoria(fuentes de poder).html">Fuentes de
                                                                                            poder</a>
                                                                                        <a class="dropdown-item" href="categoria(tarjetas graficas).html">Tarjetas
                                                                                            Graficas</a>
                                                                                        <a class="dropdown-item" href="categoria(gabinetes).html">Gabinetes</a>
                                                                                    </div>
                                                                </li>

                                                                <li class="nav-item active navitem2navbar">
                                                                        <a href="informativo.html" class="nav-link">Informativo</a>
                                                                </li>
                                                                <li class="nav-item active navitem2navbar">
                                                                        <a href="cotizacion.html" class="nav-link">Cotizacion</a>
                                                                </li>

                                                        </ul>



                                                </div>
                                        </nav>
                                </div>

                        </div>

                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet reprehenderit repellendus ducimus iste
                        vitae a
                        omnis eius et, sequi temporibus, quidem molestiae voluptates dignissimos sunt. Natus, commodi?
                        Eos alias
                        dolor ipsam perferendis esse modi, delectus, vel culpa ut illo placeat asperiores libero harum.
                        Ratione
                        nihil, alias esse provident consequatur animi aut rem quos iste praesentium ex sunt, harum nulla
                        illo ea
                        atque optio, nemo dolor tempore tempora cupiditate commodi. Eligendi, doloremque, dolorum unde
                        cumque
                        quaerat nulla nemo ipsa veritatis sint sit blanditiis. Voluptatibus iste inventore non qui
                        voluptas
                        voluptatum eos debitis sunt, ipsum, omnis deserunt dolorem alias delectus explicabo excepturi
                        quasi
                        numquam. Neque blanditiis beatae ducimus ad quod aut alias sunt perspiciatis praesentium at
                        magni sit
                        enim iste delectus eos fugiat voluptatum, itaque amet dicta asperiores distinctio autem corporis
                        nisi
                        nihil. Eligendi dolor inventore iure, repellat nam cum eveniet sequi maiores, provident impedit
                        cumque
                        nostrum. Sed consequatur ex, autem vel rem ratione totam sequi nemo laudantium, officiis
                        praesentium
                        numquam pariatur! Nisi dolor, quod repudiandae aperiam quisquam quam maxime facilis inventore
                        nobis
                        rerum, voluptatum, delectus dolorum laborum? Ipsam, exercitationem autem, sapiente animi
                        voluptatem
                        asperiores numquam eligendi earum, consectetur ex accusantium quidem nobis sunt. Necessitatibus
                        velit
                        eligendi neque itaque, quidem quas? Laudantium, harum at cumque quia alias fugiat provident?
                        Odio
                        aliquam minima laudantium dolorem sed numquam aperiam exercitationem earum aut, odit ullam
                        quibusdam
                        enim recusandae accusantium libero, ducimus repudiandae. Minima unde quis saepe itaque, nulla
                        aperiam
                        quidem totam recusandae veritatis dolor error harum quod aut ipsa ducimus asperiores accusamus
                        at eum!
                        Natus ea dolores nobis veritatis enim at, amet ipsa doloribus, deleniti sequi sit est hic
                        nostrum. Nulla
                        iste possimus ad molestias nobis et praesentium officia, architecto ipsum accusantium delectus
                        cumque
                        quod magnam. Ullam quisquam ut, voluptatem molestias magnam error adipisci! Officia blanditiis
                        asperiores fugit illum perferendis! Ex quasi delectus laudantium nisi nulla tempora totam eum
                        fuga
                        voluptas. Reiciendis fugit obcaecati quaerat dolor ad voluptas officiis. Beatae sunt laudantium
                        fugit
                        ullam? Natus enim pariatur vero. Deleniti soluta consequuntur est nobis porro, magnam minus a
                        odio sunt,
                        sit maiores architecto temporibus ut sint eius ullam omnis quasi aut vel ea deserunt at neque
                        similique!
                        Nobis recusandae ducimus error, facere delectus, ipsa non accusamus iusto, praesentium possimus
                        doloribus sed! Adipisci sed earum voluptas necessitatibus laudantium quaerat facilis recusandae
                        distinctio consequatur exercitationem odit aspernatur quidem eos alias modi eius perferendis,
                        amet sint
                        illum. Eveniet laborum perferendis fugit incidunt consequatur nesciunt, placeat totam fugiat
                        quaerat
                        quos vitae officiis aperiam nostrum ratione obcaecati quae praesentium dolores deserunt
                        temporibus alias
                        nobis a, beatae provident voluptates. Nulla pariatur quas magni ab minus hic, nam voluptatum,
                        eius
                        excepturi dignissimos deleniti sunt beatae? Quidem ut cupiditate architecto reiciendis natus
                        corporis
                        magnam laudantium quibusdam culpa rem officia eos impedit est libero ipsa deleniti, nostrum
                        repudiandae
                        facere magni debitis quasi! Tempora ut illum vitae, praesentium, porro pariatur suscipit
                        veritatis
                        eligendi saepe dolorem dolores explicabo voluptates obcaecati quos ipsa adipisci hic! Quasi
                        reprehenderit molestiae sequi perferendis ea quod. Commodi necessitatibus quae itaque corrupti
                        alias
                        voluptas soluta, eveniet nobis impedit recusandae perspiciatis tempore. Molestiae illum
                        voluptatum fuga,
                        odit officiis numquam corrupti sapiente! Eos qui sequi rem suscipit ab fugiat et ipsum,
                        laboriosam
                        corporis quas dolores eligendi eaque consequuntur eveniet aspernatur laborum. Reiciendis fuga
                        sint
                        doloremque perferendis natus dolores aliquam explicabo amet officia? Eos, tempora! Aspernatur,
                        earum
                        consequuntur? Animi expedita perspiciatis, tempora eaque, aliquid quia doloribus accusantium
                        nobis
                        excepturi vel minus quibusdam, mollitia soluta iusto exercitationem magni ab. Illo ipsa dolore
                        eum iusto
                        asperiores, deserunt voluptatem quos eius dolores necessitatibus, placeat magnam maxime
                        consequatur aut.
                        In obcaecati dolor iure, ex perferendis possimus ipsam eligendi quas quia asperiores
                        perspiciatis beatae
                        recusandae! Pariatur incidunt fugit quaerat? Ut quas voluptatem dolores, fugiat cum vero optio
                        inventore, modi cumque explicabo, aliquid dignissimos commodi. Nihil eaque laboriosam iure illum
                        necessitatibus numquam repellat culpa id deserunt, magni quaerat facilis doloremque sequi.
                        Assumenda
                        consectetur placeat voluptates doloremque cum laborum voluptas! Error atque rerum dolores,
                        numquam sequi
                        fugit consequuntur excepturi cumque, minima ullam placeat? Ullam dicta officiis itaque sequi
                        delectus
                        quos quis ratione temporibus eos dolores necessitatibus perspiciatis ex iusto unde hic
                        recusandae,
                        quaerat eligendi aliquid inventore dolor a cumque excepturi! Amet officiis laboriosam quisquam
                        eligendi
                        molestiae quibusdam blanditiis! Deserunt eveniet pariatur rerum fugit iure velit ea nisi amet,
                        harum
                        error, dolorum at alias nemo consectetur magnam nulla provident repellat facilis voluptatum
                        esse.
                        Provident accusantium asperiores sunt unde labore aperiam aliquid similique eveniet, error
                        laudantium
                        minus, accusamus architecto earum, corporis cupiditate iure voluptate rerum. Ratione temporibus
                        distinctio nostrum repudiandae enim facilis reiciendis sapiente consectetur odio ad blanditiis
                        voluptatibus provident eum odit laborum, amet iure veritatis optio doloribus fugit expedita
                        voluptate
                        assumenda? Perspiciatis a nesciunt unde officiis eum nobis soluta provident, cum deleniti
                        repudiandae,
                        fuga ipsa facere repellat labore suscipit. Harum culpa fuga dolor quasi aliquam eos, unde, quae
                        soluta
                        reprehenderit rerum labore expedita aperiam eaque impedit ipsum hic molestias illo repellat
                        assumenda
                        quam, enim perferendis. Magnam eveniet provident, harum accusantium repudiandae fugiat atque
                        maiores
                        culpa corporis quo esse iusto, eum fuga nobis officia natus a laborum ab quam doloremque odit.
                        Delectus
                        porro ratione aperiam itaque libero esse doloribus iure voluptas eaque excepturi mollitia vel
                        soluta
                        quae aspernatur iste ipsa ipsum rem ut, fugit perspiciatis tempore totam nemo voluptatum
                        repellat.
                        Possimus expedita nemo deserunt labore quisquam, mollitia, magnam consequatur aut molestias amet
                        nesciunt soluta explicabo quae odio molestiae nulla veniam quidem pariatur officia harum
                        delectus? Ipsa
                        quas, exercitationem, veritatis quam laborum eos pariatur quod tempore ex distinctio enim!
                        Pariatur
                        corporis officiis unde facilis. Debitis ut officiis commodi dolores tempore doloremque expedita
                        reiciendis explicabo! Adipisci saepe animi illo vitae, perferendis ratione architecto fuga
                        cumque. Illum
                        nulla deserunt, facilis amet eligendi quia itaque architecto aut quibusdam, veritatis nihil
                        harum
                        doloribus enim, fugit nesciunt molestias reiciendis aspernatur placeat repellendus voluptas
                        asperiores
                        soluta! Repellendus, dolorem ut unde soluta expedita delectus pariatur laborum sapiente sit
                        atque
                        deleniti quis accusamus est voluptatum consequuntur totam illum distinctio eveniet suscipit
                        magni, amet
                        exercitationem ipsum. Eum inventore at aperiam, dolore a et totam corrupti voluptatem porro vel
                        itaque
                        nisi dolorum quibusdam dicta eaque excepturi est voluptate exercitationem molestiae qui
                        voluptatibus
                        veritatis ipsum? Cumque, rem!</p>
                <div class="container-fluid">
                        <div class="row" style="border-top: solid #2E92F0; background-color: #f2f2f2;">
                                <div class="col-sm-4 paddingsobrenosotros">
                                        <div class="text-center">
                                                <div class="subrayado">
                                                        <h5>Sobre nosotros</h5>
                                                </div>
                                                <img src="img/logo.PNG" alt="Logo" height="70px" width="90px" />
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                                                        impedit odit
                                                        dolorem reprehenderit provident doloremque quidem cumque!
                                                        Veritatis
                                                        pariatur sit</p>
                                                <button type="button" class="btn btn-outline-info sizecontacticon">
                                                        <a href="#"><i class="fa fa-facebook"></i></a>

                                                </button>
                                                <button type="button" class="btn btn-outline-info sizecontacticon">
                                                        <a href="#"><i class="fa fa-twitter"></i></a>

                                                </button>
                                                <button type="button" class="btn btn-outline-info sizecontacticon">
                                                        <a href="#"><i class="fa fa-instagram"></i></a>

                                                </button>

                                        </div>

                                </div>

                                <div class="col-sm-4 paddingsobrenosotros">
                                        <div class="subrayado">
                                                <h5 class="text-center">Servicios/Nosotros </h5>
                                        </div>
                                        <nav style="padding-top: 50px;">
                                                <ul>
                                                        <li>
                                                            <a class="services" href="acerca_de_nosotros.html">Acerca de nosotros</a>
                                                        </li>
                                                        <li>
                                                            <a class="services" href="politicas_de_privacidad.html">Politicas de privacidad</a>
                                                        </li>
                                                        <li>
                                                            <a class="services" href="despachos.html">Despachos</a>
                                                        </li>
                                                        <li>
                                                            <a class="services" href="devoluciones.html">Devoluciones</a>
                                                        </li>
                                                    </ul>
                                        </nav>


                                </div>
                                <div class="col-sm-4 paddingsobrenosotros">
                                        <div class="subrayado">
                                                <h5 class="text-center">Metodos de pago</h5>
                                        </div>
                                        <div class="text-center" style="padding-top: 0px; ">
                                                <button type="button" class="btn btn-outline-info sizecontacticon">
                                                        <a href="#"><i class="fa fa-paypal"></i></a>

                                                </button>
                                                <button type="button" class="btn btn-outline-info sizecontacticon">
                                                        <a href="#"><i class="fa fa-cc-mastercard"></i></a>

                                                </button>
                                                <button type="button" class="btn btn-outline-info sizecontacticon">
                                                        <a href="#"><i class="fa fa-cc-visa"></i></a>

                                                </button>
                                        </div>

                                </div>

                        </div>
                </div>
        </div>


</body>