<!doctype html>
<html lang="en">

<head>
    <title>Producto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="Scripts/estilo.css" rel="stylesheet" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .sizecontacticon {
            font-size: 50px;
            border: solid #f2f2f2;
        }

        .subrayado {
            border: dashed #2E92F0;
            border: dashed #2E92F0;

        }

        .paddingsobrenosotros {
            padding-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light"
                            style="border-bottom: 2px solid #2E92F0;">
                            <a class="navbar-brand">
                                <a title="Logo" href="index(cuenta registrada).html"><img src="img/logo.PNG" alt="Logo"
                                        height="70px" width="90px" /></a>
                            </a>
                            <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="menu">
                                <ul class="navbar-nav mr-auto">

                                </ul>
                                <div style="padding-right: 500px;">
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2"
                                            style="width: 250px; border-color: #2E92F0;">
                                        <a href="busqueda_producto.html">
                                            <button style="width: 100px;" type="button" class="btn btn-outline-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </a>
                                    </form>
                                </div>

                                <button type="button" class="btn nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="desplegable"
                                        href="#"><i class="fa fa-user mr-sm-2"></i>Cuenta</a>
                                    <div class="dropdown-menu" style="border: solid #2E92F0;">
                                        <a class="dropdown-item" href="cuenta_detalles.html">Detalles de la cuenta</a>

                                        <a class="dropdown-item" href="cuenta_pedidos.html">Pedidos</a>
                                        <a class="dropdown-item" href="cuenta_direcciones.html">Direcciones</a>

                                    </div>
                                </button>
                                </li>
                                <div>

                                    <button type="button" class="btn btn-outline-info">
                                        <a href="carro_de_compras.html"><i
                                                class="fa fa-shopping-cart mr-sm-2"></i>Carro</a>

                                    </button>

                                </div>
                        </nav>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">


                        <div>
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="desplegable"
                                        href="#">Categorias</a>
                                    <div class="dropdown-menu" style="border: solid #2E92F0;">
                                        <a class="dropdown-item" href="categoria(motherboard).html">Motherboard</a>
                                        <a class="dropdown-item" href="categoria(procesadores).html">Procesadores</a>
                                        <a class="dropdown-item" href="categoria(ram).html">Ram</a>
                                        <a class="dropdown-item" href="categoria(fuentes de poder).html">Fuentes de
                                            poder</a>
                                        <a class="dropdown-item" href="categoria(tarjetas graficas).html">Tarjetas
                                            Graficas</a>
                                        <a class="dropdown-item" href="categoria(gabinetes).html">Gabinetes</a>
                                    </div>
                                </li>

                                <li class="nav-item active navitem2navbar">
                                    <a href="informativo.html" class="nav-link">Informativo</a>
                                </li>
                                <li class="nav-item active navitem2navbar">
                                    <a href="cotizacion.html" class="nav-link">Cotizacion</a>
                                </li>

                            </ul>



                        </div>
                    </nav>
                </div>

            </div>

        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="container-fluid">
                        <div id="demo" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>

                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">

                                    <img src="img/Productos/producto1.png" alt="img1" width="100%" height="100%">

                                </div>
                                <div class="carousel-item">
                                    <img src="img/Productos/producto2.png" alt="img2" width="100%" height="100%">
                                </div>
                                <div class="carousel-item">

                                    <img src="img/Productos/producto3.png" alt="img3" width="100%" height="100%">

                                </div>

                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="img/marcas/msi.png" alt="" style="width: 160px; height: 100px;">
                                <h4>MSI Z370 godlike Gaming SLI Extended</h4>


                            </div>
                            <div class="col-sm-6">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <p><img src="img/socket.png" alt="Socket" width="50px" height="50px">INTEL
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p><img src="img/socket.png" alt="Socket" width="45px" height="45px">LGA
                                                1151</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <p><img src="img/socket.png" alt="Socket" width="50px" height="50px">Z370
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p><img src="img/formato.png" alt="Socket" width="45px" height="45px">ATX
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <p style="border-top: solid #2E92F0; border-bottom: solid #2E92F0;">
                                                SKU:9999999</p>
                                        </div>


                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                    fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                                                    <path
                                                        d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
                                                </svg> No disponible en cuarentena</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><i class="fa fa-truck" style="font-size: 30px;"></i> Disponible</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="text-center">
                                    <h1>$99.990</h1>
                                    <p style="border-bottom: solid #2E92F0;">Webpay, T. Debito</p>
                                    <p>Stock</p>
                                    <h3>Mas de 20 unidades</h3>

                                    <div class="container">
                                        <button type="button" class="btn btn-outline-info" style="width: 200px;"
                                            data-toggle="modal" data-target="#modal1">
                                            Comprar
                                        </button>


                                        <!--Modal -->
                                        <div class="modal fade" id="modal1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="model-title">
                                                        <h4><b>AGREGADO AL CARRO DE COMPRAS</b></h4>
                                                    </div>


                                                    <div class="model-body">
                                                        <img src="img/Productos/producto1.png" width="100%" alt="">
                                                        <h5 class="text-center">MSI Z370 godlike Gaming SLI Extended
                                                        </h5>
                                                        <h3 class="text-center">$99.990</h3>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Seguir Comprando</button>
                                                        <a href="carro_de_compras.html">
                                                            <button type="button" class="btn btn-primary">Ir al carro de
                                                                compras</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="container p-5">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item mr-1 active">
                    <a href="#section-one" class="nav-link bg-primary text-white" data-toggle="tab">GENERAL</a>
                </li>
                <li class="nav-item ml-1">
                    <a href="#section-two" class="nav-link bg-info text-white" data-toggle="tab">ESPECIFICACIONES</a>
                </li>
                <li class="nav-item ml-1">
                    <a href="#section-three" class="nav-link bg-info text-white" data-toggle="tab">GARANTIA</a>
                </li>
            </ul>
            <div class="tab-content shadow-lg">
                <div class="tab-pane fade show bg-white text-dark active" id="section-one">
                    <h3 class="p-4 subrayadotitulos">Personalización de juegos definitiva</h3>
                    <p class="p-4">Personalice y configure su propio esquema de color con la utilidad MSI Mystic Light.
                        Seleccione los colores disponibles en la paleta para que coincida con el estilo del sistema.
                        ¿Aburrido de los mismos colores? Simplemente cambia el aspecto completo de tu sistema en 1
                        segundo! Personaliza tu PC con 16,8 millones de colores y 17 efectos a través de Mystic Light
                        RGB LED. Controlado en un solo clic con la aplicación Mystic Light o un dispositivo móvil.</p>
                    <h3 class="p-4 subrayadotitulos">Fases de potencia premium</h3>
                    <p class="p-4">Las placas base MSI Z370 están optimizadas para maximizar el rendimiento de los
                        procesadores Intel de 8ª generación. Elija MSI y libere todo el potencial de su sistema a través
                        de un diseño optimizado de suministro de energía y PCB con calibración de línea de carga.</p>
                    <h3 class="p-4 subrayadotitulos">MSI Exclusive Wireless Extender Placa base</h3>
                    <p class="p-4"> Godlike cuenta con increíbles conectores 3x Killer y el adaptador Killer Wi-Fi para
                        trabajar juntos para el ataque de alta velocidad definitivo que resulta en un ancho de banda de
                        3867 Mbps. Elimine las zonas muertas de su hogar y cree conexiones de red más fuertes con la
                        tecnología Killer xTend. La tecnología exclusiva permite que los juegos se conviertan en un
                        puente de extensión de red sin importar dispositivos cableados e inalámbricos.</p>
                    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
                    <div id="player" style="width: 100%;"></div>

                    <script>
                        // 2. This code loads the IFrame Player API code asynchronously.
                        var tag = document.createElement('script');

                        tag.src = "https://www.youtube.com/iframe_api";
                        var firstScriptTag = document.getElementsByTagName('script')[0];
                        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                        // 3. This function creates an <iframe> (and YouTube player)
                        //    after the API code downloads.
                        var player;
                        function onYouTubeIframeAPIReady() {
                            player = new YT.Player('player', {
                                height: '360',
                                width: '640',
                                videoId: '-X_4KAuj5d8',
                                events: {
                                    
                                    'onStateChange': onPlayerStateChange
                                }
                            });
                        }

                        // 4. The API will call this function when the video player is ready.
                        function onPlayerReady(event) {
                            event.target.playVideo();
                        }

                        // 5. The API calls this function when the player's state changes.
                        //    The function indicates that when playing a video (state=1),
                        //    the player should play for six seconds and then stop.
                        var done = false;
                        function onPlayerStateChange(event) {
                            if (event.data == YT.PlayerState.PLAYING && !done) {                              
                                done = true;
                            }
                        }
                        function stopVideo() {
                            player.stopVideo();
                            player.pauseVideo()
                        }
                    </script>


                </div>

                <div class="tab-pane fade bg-white text-dark" id="section-two">

                    <table class="container-fluid" border="5" style="border: solid #2E92F0;">
                        <tr>
                            <th>SKU</th>
                            <td>9999999</td>

                        </tr>
                        <tr>
                            <th>Marca</th>
                            <td>MSI</td>

                        </tr>
                        <tr>
                            <th>Plataforma</th>
                            <td>INTEL</td>

                        </tr>
                        <tr>
                            <th>Factor de forma</th>
                            <td>ATX</td>

                        </tr>
                        <tr>
                            <th>Socket</th>
                            <td>LGA 1151</td>

                        </tr>
                        <tr>
                            <th>Chipset</th>
                            <td>LGA 1151</td>

                        </tr>
                        <tr>
                            <th>Tipo de memoria</th>
                            <td>DDR4 DIMM</td>

                        </tr>
                        <tr>
                            <th>Slots de memoria</th>
                            <td>4</td>

                        </tr>
                        <tr>
                            <th>Puertos SATA III</th>
                            <td>4</td>

                        </tr>
                        <tr>
                            <th>Puertos M.2</th>
                            <td>2</td>

                        </tr>
                    </table>

                </div>

                <div class="tab-pane fade bg-white text-dark" id="section-three">
                    <h3 class="p-4">1. El producto NO puede estar abierto</h3>
                    <p class="p-3">2. El producto DEBE tener todos sus embalajes originales completos en la misma forma
                        en las que fueron entregados, no pueden estar los sellos abiertos o rotos</p>
                    <p class="p-3">3. El producto DEBE incluir todos sus accesorios sin uso</p>
                    <p class="p-3">4. Para los productos devueltos por garantía, en primera instancia se le realizará un
                        informe técnico, en el cual se validará que el producto no haya sido mal utilizado y que la
                        falla es atribuible al producto, de ser así la garantía podrá aplicarse</p>
                    <p class="p-3">5. El producto NO puede presentar uso</p>
                    <p class="p-3">6. En el caso de que el producto no presente la falla descrita por el cliente o en su
                        defecto se compruebe que existió una mala manipulación de este, la garantía no aplicará y se
                        podrán cargar al cliente los costos respectivos por revisión de servicio técnico, almacenaje y/o
                        transporte. Estos costos serán informados previamente una vez recepcionado el producto</p>

                </div>
            </div>
        </div>

        <div class="container-fluid subrayadotitulos" padding-top: 50px;">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Productos Relacionados</h1>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div style="padding-top: 50px;">
                            <div class="card mx-auto" style="width: 180px;">
                                <a href="producto.html">
                                    <img class="card-img-top cardproductos" src="img/Productos/ram.jpg"
                                        alt="Card image">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h4 class="card-title"> HYPERX</h4>
                                            <h5 style="font-size: 15px;">DDR4 8GB 2666MHz HyperX FURY
                                                (Black)</h5>
                                            <h2 class="card-text">$40.990</h2>
                                        </div>
                                    </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div style="padding-top: 50px;">
                            <div class="card mx-auto" style="width: 180px;">
                                <a href="producto.html">
                                    <img class="card-img-top cardproductos" src="img/Productos/fuente_de_poder.jpg"
                                        alt="Card image">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h4 class="card-title"> NZXT</h4>
                                            <h5 style="font-size: 15px;">Fuente de Poder 850W 80Plus Gold P85 Full
                                                Modular</h5>
                                            <h2 class="card-text">$159.990</h2>
                                        </div>
                                    </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div style="padding-top: 50px;">
                            <div class="card mx-auto" style="width: 180px;">
                                <a href="producto.html">
                                    <img class="card-img-top cardproductos" src="img/ssd.jpg" alt="Card image">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h4 class="card-title"> SAMSUNG</h4>
                                            <h5 style="font-size: 15px;">Disco SSD 240 GB Samsung EVO 860 SATA 2.5
                                            </h5>
                                            <h2 class="card-text">$55.990</h2>
                                        </div>
                                    </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div style="padding-top: 50px;">
                            <div class="card mx-auto" style="width: 180px;">
                                <a href="producto.html">
                                    <img class="card-img-top cardproductos" src="img/cpu.jpg" alt="Card image">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h3 class="card-title"> INTEL</h3>
                                            <h5 style="font-size: 15px;">Procesador Intel® Core™ i9-9900K, 8-Core
                                                4.5 GHz</h5>
                                            <h2 class="card-text">$380.990</h2>
                                        </div>
                                    </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div style="padding-top: 50px;">
                            <div class="card mx-auto" style="width: 180px;">
                                <a href="producto.html">
                                    <img class="card-img-top cardproductos" src="img/ram.jpg" alt="Card image">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h3 class="card-title"> G.SKILL</h3>
                                            <h5 style="font-size: 15px;">Memoria Ram G.Skill trident Z
                                                RGB, (2 x 8GB)</h5>
                                            <h2 class="card-text">$173.990</h2>
                                        </div>
                                    </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div style="padding-top: 50px;">
                            <div class="card mx-auto" style="width: 180px;">
                                <a href="producto.html">
                                    <img class="card-img-top cardproductos" src="img/grafica.jpg" alt="Card image">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h3 class="card-title"> ASUS</h3>
                                            <h5 style="font-size: 15px;">Targeta de video RTX 3060 Republic of Gamer
                                            </h5>
                                            <h2 class="card-text">$990.990</h2>
                                        </div>
                                    </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



















        <div class="container-fluid">
            <div class="row" style="border-top: solid #2E92F0; background-color: #f2f2f2;">
                <div class="col-sm-4 paddingsobrenosotros">
                    <div class="text-center">
                        <div class="subrayado">
                            <h5>Sobre nosotros</h5>
                        </div>
                        <img src="img/logo.PNG" alt="Logo" height="70px" width="90px" />
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime impedit odit
                            dolorem reprehenderit provident doloremque quidem cumque! Veritatis
                            pariatur sit</p>
                        <button type="button" class="btn btn-outline-info sizecontacticon">
                            <a href="#"><i class="fa fa-facebook"></i></a>

                        </button>
                        <button type="button" class="btn btn-outline-info sizecontacticon">
                            <a href="#"><i class="fa fa-twitter"></i></a>

                        </button>
                        <button type="button" class="btn btn-outline-info sizecontacticon">
                            <a href="#"><i class="fa fa-instagram"></i></a>

                        </button>

                    </div>

                </div>

                <div class="col-sm-4 paddingsobrenosotros">
                    <div class="subrayado">
                        <h5 class="text-center">Servicios/Nosotros </h5>
                    </div>
                    <nav style="padding-top: 50px;">
                        <ul>
                            <li>
                                <a class="services" href="acerca_de_nosotros.html">Acerca de nosotros</a>
                            </li>
                            <li>
                                <a class="services" href="politicas_de_privacidad.html">Politicas de privacidad</a>
                            </li>
                            <li>
                                <a class="services" href="despachos.html">Despachos</a>
                            </li>
                            <li>
                                <a class="services" href="devoluciones.html">Devoluciones</a>
                            </li>
                        </ul>
                    </nav>


                </div>
                <div class="col-sm-4 paddingsobrenosotros">
                    <div class="subrayado">
                        <h5 class="text-center">Metodos de pago</h5>
                    </div>
                    <div class="text-center" style="padding-top: 0px; ">
                        <button type="button" class="btn btn-outline-info sizecontacticon">
                            <a href="#"><i class="fa fa-paypal"></i></a>

                        </button>
                        <button type="button" class="btn btn-outline-info sizecontacticon">
                            <a href="#"><i class="fa fa-cc-mastercard"></i></a>

                        </button>
                        <button type="button" class="btn btn-outline-info sizecontacticon">
                            <a href="#"><i class="fa fa-cc-visa"></i></a>

                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>


</body>